.container {
    display: flex;
    width: 100%;
    height: 10%;
    font-family: 'Josefin Sans', sans-serif;
}

.left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbox img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2)
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

.right {
    width: 60%;
    height: 100%;
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.rcontainer {
    display: flex;
    flex-direction: row;
}

.aboutbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.aboutbox h2,
.skillbox h2 {
    font-family: 'Anton', sans-serif;
    font-weight: 100;
}

.skillbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.rbox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}

.rbox img {
    width: 97%;
}

.crosrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: black;
    color: white;
    transform: rotate(-1deg);
    width: 100%;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 18px;
}

@media screen and (max-width:700px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .aboutbox p,
    .skillbox p {
        font-size: 12px;
    }

    .aboutbox h2,
    .skillbox h2 {
        font-size: 18px;
    }

    .crosrow {
        font-size: 6px;
        color: #ffffff;
        transform: rotate(1deg);
    }
}
